<!DOCTYPE html>
<!--Code by Divinector - divinectorweb.com-->
<html lang="en">
<head>
<meta charset="UTF-8">
<title><%= locals.title %></title>

<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="banner-text container">
		<ul>
			<li>Home</li>
			<li>About</li>
			<li>Portfolio</li>
		</ul>
		<h2>Contact Managemnet Application</h2>
		<p>Smart way to keep your customer contacts</p>
        <div class="btn-container">
			<div class="btn"><a href="/register">Sign Up</a></div>
			<div class="btn"><a href="/login">Login</a></div>
		</div>
	</div >
	<div class="animation-area">
		<ul class="box-area">
			<li  class="bi bi-telephone"></li>
			<li class="bi bi-telephone"></li>
			<li id="big-box2" class="bi bi-person-lines-fill"></li>
			<li id="big-box1" class="bi bi-telephone"></li>
			<li class="bi bi-envelope-at"></li>
			<li id="big-box1" class="bi bi-envelope-at"></li>></li>
		</ul>
	</div>
	<!-- <i class="bi bi-house border-primary"></i> -->
</body>
</html>
