<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>
<!-- <img src="/public/img/Image 2024-01-18 at 10.13.34 AM.jpeg" alt="" width="473" height="316"> -->
<img src="/img/Image jpeg" alt="" width="473" height="316">

<div class="pt-3">
  <p>This is a simple Customer Contact Management Application system developed with Node Js.</p>
  <p>Check out my <a href="https://joseph.github">GitHub Repo</a> and If you have any offer kindly get in touch!</p>
</div>
